<div class="bg-white pv4">
    <div class="flex-l mhn1-l ph3 center mw7">
      <!-- Logo -->
      <div class="w20">
        <a href="/" class="">
            <img src="/img/backbone_logo_dark.png" alt="Kaldi logo" class="br0 db mb0 w-100"/>
        </a>
    </div>
    <div class="w20">
      <p class="w-60-l mb0">Kaldi is the coffee store for everyone who believes that great coffee shouldn't just taste good, it should do good too. We source all of our beans directly from small scale sustainable farmers and make sure part of the profits are reinvested in their communities.</p>
    </div>
    </div>
  </div>